@mixin title {
  h1 {
    flex: 1;
    text-transform: uppercase;

    &::first-letter {
      color: var(--yellow-9);
    }
  }
}

@mixin nav {
  nav {
    border-right: 1px solid currentColor;

    a {
      text-transform: capitalize;
      transition: color 250ms var(--ease-elastic-2);
      margin-right: var(--size-6);
      outline: none;

      &:last-of-type {
        margin-right: var(--size-8);
      }

      &::before {
        content: "";
        display: inline-block;
      }

      &:focus-visible,
      &:hover {
        color: var(--yellow-9);
      }
    }

    .active-link {
      text-decoration: underline;
      color: var(--yellow-9);
    }

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}

@mixin button {
  button {
    border: none;
    margin-left: var(--size-6);
    cursor: pointer;
    outline: none;

    &:first-of-type {
      margin-left: var(--size-8);
    }

    &[aria-label="menu"] {
      display: none;

      path {
        transition: d 250ms ease;

        &.open {
          d: path(
            "M 5 3 L 21 19 Q 21 21 19 21 L 3 5 Q 3 3 5 3 Z M 3 19 L 19 3 Q 21 3 21 5 L 5 21 Q 3 21 3 19 Z"
          );
        }
      }
    }

    &[aria-label="cart"] {
      position: relative;

      &::after {
        content: attr(data-number-of-items);
        position: absolute;
        top: -60%;
        right: -60%;
        aspect-ratio: var(--ratio-square);
        height: var(--size-4);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--yellow-9);
        color: var(--gray-1);
        border-radius: 50%;
      }
    }

    @media screen and (max-width: 1000px) {
      display: none;

      &[aria-label="cart"],
      &[aria-label="menu"] {
        display: block;
      }
    }
  }
}

@mixin svg {
  svg {
    transition-property: fill, scale;
    transition-duration: 250ms;
    transition-timing-function: var(--ease-elastic-2);
    aspect-ratio: var(--ratio-square);
    height: var(--size-4);

    &:focus-visible,
    &:hover {
      fill: var(--yellow-9);
      scale: 1.1;
    }
  }
}

@mixin searchForm {
  form {
    display: none;
    align-items: center;
    background-color: var(--gray-3);
    padding: var(--size-3);
    margin-top: var(--size-2);
    border-radius: var(--radius-2);
    flex-basis: 100%;
    gap: var(--size-3);

    input {
      background-color: transparent;
      border: none;
      font-size: var(--font-size-2);
      font-weight: var(--font-weight-3);
      outline: none;
      width: 100%;
    }

    @media screen and (max-width: 1000px) {
      display: flex;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: var(--size-4);

  @include title;
  @include nav;
  @include button;
  @include svg;
  @include searchForm;
}

.main {
  max-width: var(--size-xl);
  margin: 0 auto;
}
