@mixin svg {
  svg {
    transition-property: fill, scale;
    transition-duration: 250ms;
    transition-timing-function: var(--ease-elastic-2);
    aspect-ratio: var(--ratio-square);
    height: var(--size-4);

    &:focus-visible,
    &:hover {
      fill: var(--yellow-9);
      scale: 1.1;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: var(--layer-4);
  background-color: var(--gray-1);
  top: 0;
  padding-top: var(--size-4);

  @include svg;

  h1 {
    flex: 1;
    text-transform: uppercase;

    &::first-letter {
      color: var(--yellow-9);
    }
  }

  nav {
    border-right: 1px solid currentColor;
    padding-right: var(--size-4);
    margin-right: var(--size-4);

    a {
      text-transform: capitalize;
      transition: color 250ms var(--ease-elastic-2);
      margin-right: var(--size-6);
      outline: none;

      &::before {
        content: "";
        display: inline-block;
      }

      &:focus-visible,
      &:hover {
        color: var(--yellow-9);
      }
    }

    .active-link {
      text-decoration: underline;
      color: var(--yellow-9);
    }

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  button {
    border: none;
    margin-left: var(--size-6);
    cursor: pointer;
    outline: none;

    &[aria-label="menu"] {
      display: none;

      path {
        transition: d 250ms ease;

        &.open {
          d: path(
            "M 5 3 L 21 19 Q 21 21 19 21 L 3 5 Q 3 3 5 3 Z M 3 19 L 19 3 Q 21 3 21 5 L 5 21 Q 3 21 3 19 Z"
          );
        }
      }
    }

    &[aria-label="cart"] {
      position: relative;

      &::after {
        content: attr(data-number-of-items);
        position: absolute;
        top: -60%;
        right: -60%;
        aspect-ratio: var(--ratio-square);
        height: var(--size-4);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--yellow-9);
        color: var(--gray-1);
        border-radius: 50%;
      }
    }

    @media screen and (max-width: 1000px) {
      display: none;

      &[aria-label="cart"],
      &[aria-label="menu"] {
        display: block;
      }
    }
  }
}

.nav-modal {
  @include svg;

  nav {
    display: flex;
    flex-direction: column;
    gap: var(--size-5);
    border-bottom: 1px solid currentColor;
    padding: var(--size-8) 0;
  }

  a {
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-4);
    text-transform: capitalize;
  }

  button {
    display: flex;
    gap: var(--size-4);
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: var(--font-size-4);
    text-transform: capitalize;
    margin: var(--size-4) 0;
    font-weight: var(--font-weight-5);
  }

  @media screen and (min-width: 1000px) {
    display: none;
  }
}
