.backdrop {
  position: fixed;
  inset: 0;
  z-index: var(--layer-4);
  background-color: #00000050;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: right;

  animation: backdrop-in 250ms var(--ease-3);

  @keyframes backdrop-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &.exit {
    animation: backdrop-out 250ms var(--ease-3) forwards;

    @keyframes backdrop-out {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }
}

.slider {
  background-color: var(--gray-0);
  padding: var(--size-8);
  display: flex;
  flex-direction: column;

  animation: slider-in 250ms var(--ease-3);

  @keyframes slider-in {
    from {
      translate: 100%;
    }
    to {
      translate: 0;
    }
  }

  &.exit {
    animation: slider-out 250ms var(--ease-3) forwards;

    @keyframes slider-out {
      from {
        translate: 0;
      }
      to {
        translate: 100%;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

.header {
  margin-bottom: var(--size-8);
  display: flex;
}

.close-button {
  height: var(--size-5);
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.title {
  font-weight: 500;
  text-transform: capitalize;
  flex: 1;
}

.number-of-items {
  color: var(--gray-7);
}

.list-of-items {
  margin-top: var(--size-2);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.item {
  display: flex;
  gap: var(--size-2);

  & + & {
    border-top: 1px solid var(--gray-4);
    padding-top: var(--size-3);
    margin-top: var(--size-3);
  }
}

.item-image {
  border-radius: var(--radius-2);
}

.item-title {
  font-weight: 500;
  text-transform: capitalize;
}

.item-price {
  color: var(--yellow-9);
  flex: 1;
}

.item-details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.quantity-container {
  display: flex;
  font-size: var(--font-size-3);
  color: var(--gray-6);
  gap: var(--size-2);
}

.quantity-text {
  text-transform: uppercase;
  margin-right: var(--size-2);
}

.quantity-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: currentColor;
  cursor: pointer;
  font: inherit;
}

.remove-button {
  height: var(--size-5);
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.checkout-link {
  background-color: var(--gray-11);
  color: var(--gray-0);
  text-transform: uppercase;
  padding: var(--size-4);
  margin-top: var(--size-8);
  text-align: center;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
  border: none;
  cursor: pointer;
  transition-property: box-shadow, scale;
  transition-duration: 250ms;
  transition-timing-function: var(--ease-elastic-2);

  &:hover {
    box-shadow: var(--shadow-4);
    scale: 1.03;
  }
}

.checkout-price {
  text-align: right;
  float: right;
}
