.container {
  margin-top: var(--size-8);
}

.title {
  font-weight: var(--font-weight-6);
  text-transform: capitalize;
  margin-bottom: var(--size-4);
}

.grid {
  list-style: none;
  display: grid;
  gap: var(--size-6) var(--size-4);
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}
